<form [formGroup]="formulario" (ngSubmit)="onSubmit()" >
  <p>Proxima aula -->  96</p>

  <!-- NOME -->
  <div class="form-group col-mb-12" [ngClass]="aplicaCssErro('nome')">
    <label class="control-label" for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome"/>

    <app-campo-control-erro [mostrarErro]="verificaValidTouched('nome')" msgErro="Nome obrigatório">
    </app-campo-control-erro>
  </div>

  <!-- EMAIL -->
  <div class="form-group col-mb-12 py-3" [ngClass]="aplicaCssErro('email')">
    <label class="control-label" for="email">Email</label>
    <input type="email" class="form-control" id="email" formControlName="email" placeholder="nome@email.com" />

    <app-campo-control-erro [mostrarErro]="verificaValidTouched('email')" msgErro="Email incorreto">
    </app-campo-control-erro>

    <app-campo-control-erro [mostrarErro]="verificaEmailInvalido()" msgErro="Email inválido">
    </app-campo-control-erro>
  </div>


  <div ngModelGroup="endereco">
    <div class="form-group row">
      <div class="col-md-2" [ngClass]="aplicaCssErro('cep')">
        <label class="control-label" for="cep">CEP</label>

        <input type="text" class="form-control" id="cep" formControlName="cep"/>

        <app-campo-control-erro [mostrarErro]="verificaValidTouched('cep')" msgErro="CEP obrigatório">
        </app-campo-control-erro>

      </div>

      <div class="col-md-5" [ngClass]="aplicaCssErro('rua')">
        <label class="control-label" for="rua">Rua</label>

        <input type="rua" class="form-control" id="rua" formControlName="rua" placeholder="Rua"/>

        <app-campo-control-erro [mostrarErro]="verificaValidTouched('rua')" msgErro="Rua obrigatório">
        </app-campo-control-erro>

      </div>

      <div class="col-md-2" [ngClass]="aplicaCssErro('numero')">
        <label class="control-label" for="numero">Numero</label>

        <input type="numero" class="form-control" id="numero" formControlName="numero" placeholder="Número"/>

        <app-campo-control-erro [mostrarErro]="verificaValidTouched('numero')" msgErro="Numero obrigatório">
        </app-campo-control-erro>

      </div>

      <div class="col-md-3" [ngClass]="aplicaCssErro('complemenmto')">
        <label class="control-label" for="complemento">Complemento</label>

        <input type="complemento" class="form-control" id="complemento" formControlName="complemento" placeholder="Complemento"/>

        <app-campo-control-erro [mostrarErro]="verificaValidTouched('complemento')" msgErro="Complemento obrigatório">
        </app-campo-control-erro>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-md-5" [ngClass]="aplicaCssErro('bairro')">
        <label class="control-label" for="bairro">Bairro</label>

        <input type="text" class="form-control" id="bairro" formControlName="bairro" placeholder="Bairro"/>

        <app-campo-control-erro [mostrarErro]="verificaValidTouched('bairro')" msgErro="Bairro obrigatório">
        </app-campo-control-erro>

      </div>

      <div class="col-md-4" [ngClass]="aplicaCssErro('cidade')">
        <label class="control-label" for="cidade">Cidade</label>

        <input type="cidade" class="form-control" id="cidade" formControlName="cidade" placeholder="Cidade é Obrigatória"/>

        <app-campo-control-erro [mostrarErro]="verificaValidTouched('cidade')" msgErro="Cidade obrigatório">
        </app-campo-control-erro>
      </div>

      <div class="col-md-3" [ngClass]="aplicaCssErro('estado')">
        <label class="control-label" for="estado">Estado</label>

        <input type="estado" class="form-control" id="estado" formControlName="estado" placeholder="Estado"/>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('estado')" msgErro="Estado obrigatório">
        </app-campo-control-erro>
      </div>
    </div>



  </div>




  <div class="col-auto py-3">
    <button type="submit" class="btn btn-primary" >
      Submit
    </button>
    <button  class="btn btn-secondary mx-2" onclick="resetar()">
      Cancelar
    </button>
  </div>
</form>

<app-form-debug [form]="formulario"></app-form-debug>
